<style type="text/css">
fieldset {
		border: 1px solid #dedede;
}

legend {
		font-size: 20px;
}

.error {
		color: red;
}

.outTable {
		width: 75%;
		border-collapse: collapse;
		border-spacing: 0px;
}

.wideTable {
		width:100%;
		border-collapse: collapse;
		border-spacing: 0px;
}

.verticalTable {
		width: 95%;
		border-collapse: collapse;
		border-spacing: 20px;
}
.vertaTable {
		width: 95%;
		border-collapse: collapse;
		border-spacing: 20px;
}		
.submitTable {
		width: 95%;
		border-collapse: collapse;
		border-spacing: 0;
}		
.verticalTable th{
		width:30%;
		text-align:right;
		border:1px solid #565454;
		vertical-align:top;		
}
.verticalTable td{
		text-align:left;
		border:1px solid #565454;	
}
.vertaTable th{
		width:20%;
		text-align:right;
		border:0px;
		vertical-align:top;
		padding: 2px 6px;
}
.vertaTable td{
		text-align:left;
		border:0px;
		padding: 2px 6px;
}		
.wideTable td, .wideTable th, .outTable td, .outTable th {
		border: 1px solid #565454;
		vertical-align:top;
}
.outTable th {
		text-align:center;
}
.outTable td{
		text-align:left;
}
.wideTable th{
		text-align:center;
}
.wideTable td{
		text-align:left;
}
.submitTable td{
		text-align:center;
		border: 0px;
}		
.menu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
}
		
.menu li {
		float: left;
		padding: 3px 8px;
		text-decoration: none;
}
.menu li a {
		display: block;
		text-align: center;
		padding: 3px 8px;
		text-decoration: none;
}
dl{
		width:95%;
}
dd {
    margin: 1;
}
dd::after {
    content: '\A';
    white-space: pre-line;
}
dd:last-of-type::after {
    content: '';
}
dd, dt {
    display: inline;
}
dt {
    vertical-align:top;
		width:20%;
}
dd {
		width:80%;
}
dt {
    font-weight: bolder;
}

</style>